<a href="https://colab.research.google.com/github/MK316/R_intro/blob/main/01_How_to_do_R_in_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#üéÅ Doing **R** in **Colab: 2 ways**

## [1] Open Colab for R language [link](https://colab.research.google.com/notebook#create=true&language=r): In this case, the notebook runs in R language without further specifications or packages.
* Follw the link below and you can check whether it's in R language: (menu) > Runtime > Change runtime type.

‚§¥Ô∏è  https://colab.research.google.com/notebook#create=true&language=r

```
a <- 1:100
summary(a). # this is an R code.
```
## [2] Import a package for R within the colab Python environment: In this way, you can use both Python codes and R codes in the same ipynb (notebook).

1. Load (import) rpy2.ipython

e.g., 

```
%load_ext rpy2.ipython
```

2. Begin the first line of each cell with %%R

e.g., 
```
%%R
a <- 1:100
summary(a)
```

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R
install.packages("datasets")

R[write to console]: Installing package into ‚Äò/usr/local/lib/R/site-library‚Äô
(as ‚Äòlib‚Äô is unspecified)

In [ ]:
%%R
head(iris)
summary(iris$Species)

    setosa versicolor  virginica
        50         50         50

In [ ]:
%%R
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50