<a href="https://colab.research.google.com/github/MK316/R_intro/blob/main/R_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **R language for statsitics and data visualization**

"R is one of the most commonly used programming languages in **data mining** and offers great packages and resources for **data analysis, visualization, and data science.**" [source from](https://www.datacamp.com/learn/r?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1457170719&utm_adgroupid=59514459074&utm_device=c&utm_keyword=introduction%20to%20r&utm_matchtype=e&utm_network=g&utm_adpostion=&utm_creative=591544881102&utm_targetid=aud-392016246653:kwd-299434552293&utm_loc_interest_ms=&utm_loc_physical_ms=1009841&gclid=CjwKCAjw77WVBhBuEiwAJ-YoJDHSglDSFDpLV4On-88jU6llzMeTUrVXLI5C8PEOjGb1Kfm2_5LR5hoCbVYQAvD_BwE)

In [ ]:
# Creating a Graph
attach(mtcars)
par(mfrow=c(2,2))
plot(wt, mpg)
abline(lm(mpg~wt))
title("Regression of MPG on Weight")

In [37]:
rnorm2 <- function(n,mean,sd) { mean+sd*scale(rnorm(n)) }
r1 <- round(rnorm2(100,67,9))
r2 <- round(rnorm2(100, 72,12))
r3 <- round(rnorm2(100, 58, 5))

d1 = data.frame(Reading = r1, Grammar = r2, Speaking = r3)
head(data); tail(data)

  Reading Grammar Speaking
1 66      78      55
2 60      78      50
3 53      69      59
4 67      65      65
5 65      63      48
6 49      78      50

    Reading Grammar Speaking
95  61      53      57
96  47      53      52
97  60      80      62
98  72      74      55
99  64      54      58
100 68      74      55