<a href="https://colab.research.google.com/github/MK316/R_intro/blob/main/R_dataformats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# R data formats
*Keywords: Numeric, Characters, Logical

In [1]:
%load_ext rpy2.ipython

In [4]:
%%R
# Numeric: double precision by default
n1 <- 15; n1; print(typeof(n1))
n2 <-1.5; n2; print(typeof(n2))

[1] "double"
[1] "double"

In [6]:
%%R
# Characters
c1 <- "a string of text"; c1; typeof(c1)

[1] "a string of text"

In [8]:
%%R
# Logical
L1<-TRUE
L1
typeof(L1)

[1] "logical"

# Data structure:
* vector, matrix, array, list,

In [12]:
%%R
# Vector
c1<-c(1,2,3,4,5); c1
is.vector(c1)

[1] TRUE

In [14]:
%%R
# Matrix
m1 <- matrix(c(T, T, F, F, T, F), nrow = 2); print(m1)
m2 <- matrix(c("a", "b", "c", "d"), nrow = 2, byrow = T); print(m2)

     [,1]  [,2]  [,3]
[1,] TRUE FALSE  TRUE
[2,] TRUE FALSE FALSE
     [,1] [,2]
[1,] "a"  "b"
[2,] "c"  "d"

In [ ]:
%%R
# Array(rows, cols, tables)
a1<-array(c( 1:24), c(4, 3, 2)); print(a1)

In [16]:
%%R
# Data frame can combine vectors of the same length

vNumeric   <- c(1, 2, 3)
vCharacter <- c("a", "b", "c")
vLogical   <- c(T, F, T)

dfa <- cbind(vNumeric, vCharacter, vLogical)
dfa  # Matrix of one data type

     vNumeric vCharacter vLogical
[1,] "1"      "a"        "TRUE"
[2,] "2"      "b"        "FALSE"
[3,] "3"      "c"        "TRUE"

In [18]:
%%R
df <- as.data.frame(cbind(vNumeric, vCharacter, vLogical))
df  # Makes a data frame with three different data types

  vNumeric vCharacter vLogical
1        1          a     TRUE
2        2          b    FALSE
3        3          c     TRUE

In [19]:
%%R
# List

o1 <- c(1, 2, 3)
o2 <- c("a", "b", "c", "d")
o3 <- c(T, F, T, T, F)

list1 <- list(o1, o2, o3)
list1

list2 <- list(o1, o2, o3, list1)  # Lists within lists!
list2

[[1]]
[1] 1 2 3

[[2]]
[1] "a" "b" "c" "d"

[[3]]
[1]  TRUE FALSE  TRUE  TRUE FALSE

[[4]]
[[4]][[1]]
[1] 1 2 3

[[4]][[2]]
[1] "a" "b" "c" "d"

[[4]][[3]]
[1]  TRUE FALSE  TRUE  TRUE FALSE

# Coersion: 


```
# as.numeric(), as.integer(), as.character(), as.matrix(), as.data.frame()
```

In [21]:
%%R
d1 <- matrix(1:9, nrow=3)
d2 <- as.data.frame(d1); print(head(d2))
is.data.frame(d2)

  V1 V2 V3
1  1  4  7
2  2  5  8
3  3  6  9
[1] TRUE

In [22]:
%%R

UsageError: %%R is a cell magic, but the cell body is empty. Did you mean the line magic %R (single %)?

In [25]:
%%R
a1 <-1:3; y <-1:9

df1 <- cbind.data.frame(a1,y)
str(df1)

'data.frame':	9 obs. of  2 variables:
 $ a1: int  1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [27]:
%%R
a2 <- as.factor(c(1:3)); y <- 1:9
df2 <- cbind.data.frame(a2,y); df2
str(df2)

'data.frame':	9 obs. of  2 variables:
 $ a2: Factor w/ 3 levels "1","2","3": 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [35]:
%%R
a3 <- c(1:3); y <-1:9
df3 <- cbind.data.frame(a3,y)
df3$a3 <- factor(df3$a3, levels=c(1,2,3), labels = c("macOS","Windows","Linux")); print(df3)
str(df3)

       a3 y
1   macOS 1
2 Windows 2
3   Linux 3
4   macOS 4
5 Windows 5
6   Linux 6
7   macOS 7
8 Windows 8
9   Linux 9
'data.frame':	9 obs. of  2 variables:
 $ a3: Factor w/ 3 levels "macOS","Windows",..: 1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9

In [39]:
%%R
# Column name change
colnames(df3) <- c("System","Room")
df3

   System Room
1   macOS    1
2 Windows    2
3   Linux    3
4   macOS    4
5 Windows    5
6   Linux    6
7   macOS    7
8 Windows    8
9   Linux    9

In [43]:
%%R
# Ordered factors and labels: ordered levels(3,2,1), labels (No, Maybe, Yes)
# 1st row, 1 => 2nd (2, Maybe), 2nd row, 2 => 3rd (Yes) in the order
a5 <- c(1:3)
df5 <- cbind.data.frame(a5,y)
df5; str(df5)

df5$a5 <-ordered(df5$a5, levels = c(3,1,2))
df5; str(df5)

df5$a5 <-ordered(df5$a5,
                 levels = c(3,1,2),
                 labels = c("No","Maybe","Yes"))
df5; str(df5)

'data.frame':	9 obs. of  2 variables:
 $ a5: int  1 2 3 1 2 3 1 2 3
 $ y : int  1 2 3 4 5 6 7 8 9
'data.frame':	9 obs. of  2 variables:
 $ a5: Ord.factor w/ 3 levels "3"<"1"<"2": 2 3 1 2 3 1 2 3 1
 $ y : int  1 2 3 4 5 6 7 8 9
'data.frame':	9 obs. of  2 variables:
 $ a5: Ord.factor w/ 3 levels "No"<"Maybe"<"Yes": 2 3 1 2 3 1 2 3 1
 $ y : int  1 2 3 4 5 6 7 8 9

In [44]:
%%R
rm(list=ls())